/* 모든페이지에서 중복되는 스타일 
(기본 글자스타일, 변수(:root), wrapper 모든페이지에 영향을 주는 설정 */
/* css와 html은 큰따옴표, js와 개발자는 작은따옴표 */
:root {
    --color-tit: #111;
    --color-basic: #444;
    --color-point01: #2A2A2A;
    --color-point02: #3574BB;
    --color-background: #EBEBEB;
    --color-line: #EDEDED;
    --color-line02: #cccccc;
    --color-white: #FFFFFF;
    --color-white10: rgba(255, 255, 255, 0.1);
    --color-white20: rgba(255, 255, 255, 0.2);
    --color-white30: rgba(255, 255, 255, 0.3);
    --color-white40: rgba(255, 255, 255, 0.4);
    --color-white50: rgba(255, 255, 255, 0.5);
    --color-white60: rgba(255, 255, 255, 0.6);
    --color-white70: rgba(255, 255, 255, 0.7);
    --color-white80: rgba(255, 255, 255, 0.8);
    --color-white90: rgba(255, 255, 255, 0.9);
    --color-black: #000000;
    --color-black0: rgba(0, 0, 0, 0);
    --color-black10: rgba(0, 0, 0, 0.1);
    --color-black20: rgba(0, 0, 0, 0.2);
    --color-black30: rgba(0, 0, 0, 0.3);
    --color-black40: rgba(0, 0, 0, 0.4);
    --color-black50: rgba(0, 0, 0, 0.5);
    --color-black60: rgba(0, 0, 0, 0.6);
    --color-black70: rgba(0, 0, 0, 0.7);
    --color-black80: rgba(0, 0, 0, 0.8);
    --color-black90: rgba(0, 0, 0, 0.9);
    --header-h: 110px;
    --wrapper-margin: 40px;
}
@media screen and (max-width:1280px){
    :root {
        --header-h: 96px;
        --wrapper-margin: 32px;
    }
}/* @media */
@media screen and (max-width:1024px){
    :root {
        --header-h: 78px;
        --wrapper-margin: 24px;
    }
}/* @media */
@media screen and (max-width:768px){
    :root {
        --header-h: 60px;
        --wrapper-margin: 16px;
    }
}/* @media */

html {
    font-size: 10px;
}

body {
    font-family: "Gentium Book Plus", "Pretendard", serif;
    /* 영문폰트와 한글폰트를 쓸때
        반드시 영문폰트는 한글이 지원되는 폰트면 안됨 
        font-family에서 영문폰트를 먼저 선언하고 다음에 한글 폰트를 선언
        영문폰트를 먼저 적용하고 그 다음 한글폰트를 적용함 */
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-tit);
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 단어가 너무 길때 강제로 줄 바꿈 */
}
@media screen and (max-width:768px){
    body {
        font-size: 1.6rem;
    }
}/* @media */

#wrap {
    position: relative; /* header 정렬 기준 */
    overflow: hidden;
}

/* html 문서 구조상 글자를 써야하는데 
   그 글자를 안보이게 하고 싶을 때 blind 클래스를 주면 사라짐 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.wrapper {
    width: 1392px;
    margin: 0 auto; /* 가운데정렬 */
}
/*
    계속(태블릿, 모바일) 좌우여백을 고정 값(px)을 적용
    1392 + 40 + 40 = 1432
*/

@media screen and (max-width:1432px){
    .wrapper {
        width: auto;
        margin: 0 var(--wrapper-margin);
    }
}/* @media */

.mo_only { /* 모바일에서만 보임 */
    display: none;
}
@media screen and (max-width:1024px){
    .mo_only { /* 모바일에서만 보임 */
        display: block;
    }
    .pc_only { /* pc에서만 보임 */
        display: none;
    }
}/* @media */

::selection {
    background-color: var(--color-point02);
    color: var(--color-white);
}