/* 태그 스타일의 초기화 default.css 또는 reset.css 라고 함 */

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
    /* inherit - 브라우저가 주는 스타일 무시 */
}
strong {
    font-weight: inherit;
}
em, address {
    font-style: normal; /* 기울임 취소 */
}
ul, li, ol {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none; /* 밑줄 삭제 */
}
button {
    border: none;
    background-color: transparent; /* 투명 */
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer; /* 오버 시 마우스 포인터를 손가락모양으로 */
}
* {
    /* 와일드카드(*)는 모든 태그를 말함 */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* padding과 width/height를 같이 주면 사이즈가 늘어나는 현상 막기 */
}
fieldset {
    border: none;
}
legend {
    display: none;
}
input, select, textarea {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
input[type="submit"] {
    cursor: pointer;
}
table caption {
    display: none;
}
.table_wrap table th {
    font-weight: inherit;
}