@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard-Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: "Paperozi";
    src: url('../fonts/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Paperozi";
    src: url('../fonts/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "MuseumClassic";
    src: url('../fonts/국립박물관문화재단클래식L.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "MuseumClassic";
    src: url('../fonts/국립박물관문화재단클래식M.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "MuseumClassic";
    src: url('../fonts/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
