header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 151.4px;
    height: 36px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    font-size: 2rem;
    line-height: var(--header-h);
    padding: 0 40px;
    margin-top: 5px;
}
header .util {
    display: flex;
}
header .util .search .sch_open,
header .util .lang .lang_open,
header .util .mypage {
    display: block;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11525 12.2305C4.40758 12.2305 2.96142 11.6382 1.77675 10.4537C0.59225 9.26908 0 7.82292 0 6.11525C0 4.40758 0.59225 2.96142 1.77675 1.77675C2.96142 0.59225 4.40758 0 6.11525 0C7.82292 0 9.26908 0.59225 10.4537 1.77675C11.6382 2.96142 12.2305 4.40758 12.2305 6.11525C12.2305 6.82942 12.1107 7.5115 11.871 8.1615C11.6312 8.8115 11.3112 9.37683 10.9112 9.8575L16.6652 15.6115C16.8037 15.7498 16.8746 15.9238 16.8777 16.1335C16.8809 16.3432 16.8101 16.5204 16.6652 16.6653C16.5204 16.8101 16.3448 16.8825 16.1383 16.8825C15.9319 16.8825 15.7563 16.8101 15.6115 16.6653L9.8575 10.9113C9.3575 11.3241 8.7825 11.6472 8.1325 11.8805C7.4825 12.1138 6.81008 12.2305 6.11525 12.2305ZM6.11525 10.7308C7.40375 10.7308 8.49508 10.2836 9.38925 9.38925C10.2836 8.49508 10.7308 7.40375 10.7308 6.11525C10.7308 4.82675 10.2836 3.73542 9.38925 2.84125C8.49508 1.94692 7.40375 1.49975 6.11525 1.49975C4.82675 1.49975 3.73542 1.94692 2.84125 2.84125C1.94692 3.73542 1.49975 4.82675 1.49975 6.11525C1.49975 7.40375 1.94692 8.49508 2.84125 9.38925C3.73542 10.2836 4.82675 10.7308 6.11525 10.7308Z'/%3E%3C/svg%3E%0A");
    background-size: 19px;
}
header .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 19C8.1975 19 6.96833 18.7503 5.8125 18.251C4.65667 17.7517 3.64867 17.0718 2.7885 16.2115C1.92817 15.3513 1.24833 14.3433 0.749 13.1875C0.249667 12.0317 0 10.8025 0 9.5C0 8.18717 0.249667 6.95542 0.749 5.80475C1.24833 4.65408 1.92817 3.64867 2.7885 2.7885C3.64867 1.92817 4.65667 1.24833 5.8125 0.749001C6.96833 0.249667 8.1975 0 9.5 0C10.8128 0 12.0446 0.249667 13.1953 0.749001C14.3459 1.24833 15.3513 1.92817 16.2115 2.7885C17.0718 3.64867 17.7517 4.65408 18.251 5.80475C18.7503 6.95542 19 8.18717 19 9.5C19 10.8025 18.7503 12.0317 18.251 13.1875C17.7517 14.3433 17.0718 15.3513 16.2115 16.2115C15.3513 17.0718 14.3459 17.7517 13.1953 18.251C12.0446 18.7503 10.8128 19 9.5 19ZM9.5 17.4788C10.0103 16.8019 10.4398 16.1192 10.7885 15.4307C11.1372 14.7422 11.4212 13.9897 11.6405 13.173H7.3595C7.59167 14.0153 7.87892 14.7808 8.22125 15.4693C8.56342 16.1578 8.98967 16.8276 9.5 17.4788ZM7.5635 17.2038C7.18017 16.6538 6.83592 16.0285 6.53075 15.328C6.22558 14.6273 5.98842 13.909 5.81925 13.173H2.427C2.95517 14.2115 3.6635 15.084 4.552 15.7905C5.4405 16.4968 6.44433 16.9679 7.5635 17.2038ZM11.4365 17.2038C12.5557 16.9679 13.5595 16.4968 14.448 15.7905C15.3365 15.084 16.0448 14.2115 16.573 13.173H13.1807C12.9794 13.9153 12.7262 14.6368 12.421 15.3375C12.116 16.0382 11.7878 16.6603 11.4365 17.2038ZM1.798 11.673H5.5155C5.45267 11.3013 5.40708 10.9369 5.37875 10.5798C5.35058 10.2228 5.3365 9.86283 5.3365 9.5C5.3365 9.13717 5.35058 8.77725 5.37875 8.42025C5.40708 8.06308 5.45267 7.69867 5.5155 7.327H1.798C1.70183 7.66667 1.62817 8.01983 1.577 8.3865C1.52567 8.75317 1.5 9.12433 1.5 9.5C1.5 9.87567 1.52567 10.2468 1.577 10.6135C1.62817 10.9802 1.70183 11.3333 1.798 11.673ZM7.01525 11.673H11.9848C12.0474 11.3013 12.0929 10.9402 12.1212 10.5895C12.1494 10.2388 12.1635 9.87567 12.1635 9.5C12.1635 9.12433 12.1494 8.76117 12.1212 8.4105C12.0929 8.05983 12.0474 7.69867 11.9848 7.327H7.01525C6.95258 7.69867 6.90708 8.05983 6.87875 8.4105C6.85058 8.76117 6.8365 9.12433 6.8365 9.5C6.8365 9.87567 6.85058 10.2388 6.87875 10.5895C6.90708 10.9402 6.95258 11.3013 7.01525 11.673ZM13.4845 11.673H17.202C17.2982 11.3333 17.3718 10.9802 17.423 10.6135C17.4743 10.2468 17.5 9.87567 17.5 9.5C17.5 9.12433 17.4743 8.75317 17.423 8.3865C17.3718 8.01983 17.2982 7.66667 17.202 7.327H13.4845C13.5473 7.69867 13.5929 8.06308 13.6212 8.42025C13.6494 8.77725 13.6635 9.13717 13.6635 9.5C13.6635 9.86283 13.6494 10.2228 13.6212 10.5798C13.5929 10.9369 13.5473 11.3013 13.4845 11.673ZM13.1807 5.827H16.573C16.0385 4.77567 15.335 3.90317 14.4625 3.2095C13.59 2.516 12.5813 2.04167 11.4365 1.7865C11.8198 2.3685 12.1608 3.00508 12.4595 3.69625C12.7583 4.38725 12.9987 5.0975 13.1807 5.827ZM7.3595 5.827H11.6405C11.4083 4.991 11.1163 4.22075 10.7645 3.51625C10.4125 2.81175 9.991 2.14675 9.5 1.52125C9.009 2.14675 8.5875 2.81175 8.2355 3.51625C7.88367 4.22075 7.59167 4.991 7.3595 5.827ZM2.427 5.827H5.81925C6.00125 5.0975 6.24167 4.38725 6.5405 3.69625C6.83917 3.00508 7.18017 2.3685 7.5635 1.7865C6.41217 2.04167 5.40192 2.51767 4.53275 3.2145C3.66342 3.91117 2.9615 4.782 2.427 5.827Z' /%3E%3C/svg%3E%0A");
    background-size: 21px;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 14.5423C2.4 13.6589 3.44583 12.9631 4.6375 12.4548C5.82917 11.9464 7.11667 11.6923 8.5 11.6923C9.88333 11.6923 11.1708 11.9464 12.3625 12.4548C13.5542 12.9631 14.6 13.6589 15.5 14.5423V1.80775C15.5 1.73075 15.4679 1.66025 15.4038 1.59625C15.3398 1.53208 15.2693 1.5 15.1923 1.5H1.80775C1.73075 1.5 1.66025 1.53208 1.59625 1.59625C1.53208 1.66025 1.5 1.73075 1.5 1.80775V14.5423ZM8.5 9.5385C9.4025 9.5385 10.1698 9.2225 10.802 8.5905C11.434 7.95833 11.75 7.191 11.75 6.2885C11.75 5.386 11.434 4.61867 10.802 3.9865C10.1698 3.3545 9.4025 3.0385 8.5 3.0385C7.5975 3.0385 6.83017 3.3545 6.198 3.9865C5.566 4.61867 5.25 5.386 5.25 6.2885C5.25 7.191 5.566 7.95833 6.198 8.5905C6.83017 9.2225 7.5975 9.5385 8.5 9.5385ZM1.80775 17C1.30258 17 0.875 16.825 0.525 16.475C0.175 16.125 0 15.6974 0 15.1923V1.80775C0 1.30258 0.175 0.875 0.525 0.525C0.875 0.175 1.30258 0 1.80775 0H15.1923C15.6974 0 16.125 0.175 16.475 0.525C16.825 0.875 17 1.30258 17 1.80775V15.1923C17 15.6974 16.825 16.125 16.475 16.475C16.125 16.825 15.6974 17 15.1923 17H1.80775ZM2.677 15.5H14.323C13.4743 14.7218 12.5491 14.1427 11.5473 13.7625C10.5453 13.3823 9.5295 13.1923 8.5 13.1923C7.48333 13.1923 6.46567 13.3823 5.447 13.7625C4.4285 14.1427 3.50517 14.7218 2.677 15.5ZM8.5 8.0385C8.01917 8.0385 7.60733 7.867 7.2645 7.524C6.9215 7.18117 6.75 6.76933 6.75 6.2885C6.75 5.80767 6.9215 5.39583 7.2645 5.053C7.60733 4.71 8.01917 4.5385 8.5 4.5385C8.98083 4.5385 9.39267 4.71 9.7355 5.053C10.0785 5.39583 10.25 5.80767 10.25 6.2885C10.25 6.76933 10.0785 7.18117 9.7355 7.524C9.39267 7.867 8.98083 8.0385 8.5 8.0385Z' /%3E%3C/svg%3E%0A");
    background-size: 19px;
    cursor: pointer;
}
/* header에 dark 클래스가 추가되었을때*/
header.dark {
    color: #5E492A;
}
header.dark .logo a {
    background-image: url(../images/common/logo.svg);
}
header.dark .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11525 12.2305C4.40758 12.2305 2.96142 11.6382 1.77675 10.4537C0.59225 9.26908 0 7.82292 0 6.11525C0 4.40758 0.59225 2.96142 1.77675 1.77675C2.96142 0.59225 4.40758 0 6.11525 0C7.82292 0 9.26908 0.59225 10.4537 1.77675C11.6382 2.96142 12.2305 4.40758 12.2305 6.11525C12.2305 6.82942 12.1107 7.5115 11.871 8.1615C11.6312 8.8115 11.3112 9.37683 10.9112 9.8575L16.6652 15.6115C16.8037 15.7498 16.8746 15.9238 16.8777 16.1335C16.8809 16.3432 16.8101 16.5204 16.6652 16.6653C16.5204 16.8101 16.3448 16.8825 16.1383 16.8825C15.9319 16.8825 15.7563 16.8101 15.6115 16.6653L9.8575 10.9113C9.3575 11.3241 8.7825 11.6472 8.1325 11.8805C7.4825 12.1138 6.81008 12.2305 6.11525 12.2305ZM6.11525 10.7308C7.40375 10.7308 8.49508 10.2836 9.38925 9.38925C10.2836 8.49508 10.7308 7.40375 10.7308 6.11525C10.7308 4.82675 10.2836 3.73542 9.38925 2.84125C8.49508 1.94692 7.40375 1.49975 6.11525 1.49975C4.82675 1.49975 3.73542 1.94692 2.84125 2.84125C1.94692 3.73542 1.49975 4.82675 1.49975 6.11525C1.49975 7.40375 1.94692 8.49508 2.84125 9.38925C3.73542 10.2836 4.82675 10.7308 6.11525 10.7308Z'/%3E%3C/svg%3E%0A");
}
header.dark .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 19C8.1975 19 6.96833 18.7503 5.8125 18.251C4.65667 17.7517 3.64867 17.0718 2.7885 16.2115C1.92817 15.3513 1.24833 14.3433 0.749 13.1875C0.249667 12.0317 0 10.8025 0 9.5C0 8.18717 0.249667 6.95542 0.749 5.80475C1.24833 4.65408 1.92817 3.64867 2.7885 2.7885C3.64867 1.92817 4.65667 1.24833 5.8125 0.749001C6.96833 0.249667 8.1975 0 9.5 0C10.8128 0 12.0446 0.249667 13.1953 0.749001C14.3459 1.24833 15.3513 1.92817 16.2115 2.7885C17.0718 3.64867 17.7517 4.65408 18.251 5.80475C18.7503 6.95542 19 8.18717 19 9.5C19 10.8025 18.7503 12.0317 18.251 13.1875C17.7517 14.3433 17.0718 15.3513 16.2115 16.2115C15.3513 17.0718 14.3459 17.7517 13.1953 18.251C12.0446 18.7503 10.8128 19 9.5 19ZM9.5 17.4788C10.0103 16.8019 10.4398 16.1192 10.7885 15.4307C11.1372 14.7422 11.4212 13.9897 11.6405 13.173H7.3595C7.59167 14.0153 7.87892 14.7808 8.22125 15.4693C8.56342 16.1578 8.98967 16.8276 9.5 17.4788ZM7.5635 17.2038C7.18017 16.6538 6.83592 16.0285 6.53075 15.328C6.22558 14.6273 5.98842 13.909 5.81925 13.173H2.427C2.95517 14.2115 3.6635 15.084 4.552 15.7905C5.4405 16.4968 6.44433 16.9679 7.5635 17.2038ZM11.4365 17.2038C12.5557 16.9679 13.5595 16.4968 14.448 15.7905C15.3365 15.084 16.0448 14.2115 16.573 13.173H13.1807C12.9794 13.9153 12.7262 14.6368 12.421 15.3375C12.116 16.0382 11.7878 16.6603 11.4365 17.2038ZM1.798 11.673H5.5155C5.45267 11.3013 5.40708 10.9369 5.37875 10.5798C5.35058 10.2228 5.3365 9.86283 5.3365 9.5C5.3365 9.13717 5.35058 8.77725 5.37875 8.42025C5.40708 8.06308 5.45267 7.69867 5.5155 7.327H1.798C1.70183 7.66667 1.62817 8.01983 1.577 8.3865C1.52567 8.75317 1.5 9.12433 1.5 9.5C1.5 9.87567 1.52567 10.2468 1.577 10.6135C1.62817 10.9802 1.70183 11.3333 1.798 11.673ZM7.01525 11.673H11.9848C12.0474 11.3013 12.0929 10.9402 12.1212 10.5895C12.1494 10.2388 12.1635 9.87567 12.1635 9.5C12.1635 9.12433 12.1494 8.76117 12.1212 8.4105C12.0929 8.05983 12.0474 7.69867 11.9848 7.327H7.01525C6.95258 7.69867 6.90708 8.05983 6.87875 8.4105C6.85058 8.76117 6.8365 9.12433 6.8365 9.5C6.8365 9.87567 6.85058 10.2388 6.87875 10.5895C6.90708 10.9402 6.95258 11.3013 7.01525 11.673ZM13.4845 11.673H17.202C17.2982 11.3333 17.3718 10.9802 17.423 10.6135C17.4743 10.2468 17.5 9.87567 17.5 9.5C17.5 9.12433 17.4743 8.75317 17.423 8.3865C17.3718 8.01983 17.2982 7.66667 17.202 7.327H13.4845C13.5473 7.69867 13.5929 8.06308 13.6212 8.42025C13.6494 8.77725 13.6635 9.13717 13.6635 9.5C13.6635 9.86283 13.6494 10.2228 13.6212 10.5798C13.5929 10.9369 13.5473 11.3013 13.4845 11.673ZM13.1807 5.827H16.573C16.0385 4.77567 15.335 3.90317 14.4625 3.2095C13.59 2.516 12.5813 2.04167 11.4365 1.7865C11.8198 2.3685 12.1608 3.00508 12.4595 3.69625C12.7583 4.38725 12.9987 5.0975 13.1807 5.827ZM7.3595 5.827H11.6405C11.4083 4.991 11.1163 4.22075 10.7645 3.51625C10.4125 2.81175 9.991 2.14675 9.5 1.52125C9.009 2.14675 8.5875 2.81175 8.2355 3.51625C7.88367 4.22075 7.59167 4.991 7.3595 5.827ZM2.427 5.827H5.81925C6.00125 5.0975 6.24167 4.38725 6.5405 3.69625C6.83917 3.00508 7.18017 2.3685 7.5635 1.7865C6.41217 2.04167 5.40192 2.51767 4.53275 3.2145C3.66342 3.91117 2.9615 4.782 2.427 5.827Z' /%3E%3C/svg%3E%0A");
}
header.dark .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 14.5423C2.4 13.6589 3.44583 12.9631 4.6375 12.4548C5.82917 11.9464 7.11667 11.6923 8.5 11.6923C9.88333 11.6923 11.1708 11.9464 12.3625 12.4548C13.5542 12.9631 14.6 13.6589 15.5 14.5423V1.80775C15.5 1.73075 15.4679 1.66025 15.4038 1.59625C15.3398 1.53208 15.2693 1.5 15.1923 1.5H1.80775C1.73075 1.5 1.66025 1.53208 1.59625 1.59625C1.53208 1.66025 1.5 1.73075 1.5 1.80775V14.5423ZM8.5 9.5385C9.4025 9.5385 10.1698 9.2225 10.802 8.5905C11.434 7.95833 11.75 7.191 11.75 6.2885C11.75 5.386 11.434 4.61867 10.802 3.9865C10.1698 3.3545 9.4025 3.0385 8.5 3.0385C7.5975 3.0385 6.83017 3.3545 6.198 3.9865C5.566 4.61867 5.25 5.386 5.25 6.2885C5.25 7.191 5.566 7.95833 6.198 8.5905C6.83017 9.2225 7.5975 9.5385 8.5 9.5385ZM1.80775 17C1.30258 17 0.875 16.825 0.525 16.475C0.175 16.125 0 15.6974 0 15.1923V1.80775C0 1.30258 0.175 0.875 0.525 0.525C0.875 0.175 1.30258 0 1.80775 0H15.1923C15.6974 0 16.125 0.175 16.475 0.525C16.825 0.875 17 1.30258 17 1.80775V15.1923C17 15.6974 16.825 16.125 16.475 16.475C16.125 16.825 15.6974 17 15.1923 17H1.80775ZM2.677 15.5H14.323C13.4743 14.7218 12.5491 14.1427 11.5473 13.7625C10.5453 13.3823 9.5295 13.1923 8.5 13.1923C7.48333 13.1923 6.46567 13.3823 5.447 13.7625C4.4285 14.1427 3.50517 14.7218 2.677 15.5ZM8.5 8.0385C8.01917 8.0385 7.60733 7.867 7.2645 7.524C6.9215 7.18117 6.75 6.76933 6.75 6.2885C6.75 5.80767 6.9215 5.39583 7.2645 5.053C7.60733 4.71 8.01917 4.5385 8.5 4.5385C8.98083 4.5385 9.39267 4.71 9.7355 5.053C10.0785 5.39583 10.25 5.80767 10.25 6.2885C10.25 6.76933 10.0785 7.18117 9.7355 7.524C9.39267 7.867 8.98083 8.0385 8.5 8.0385Z' /%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 121.7px;
        height: 28.94px;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 21.25px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.9375 14.0863C0.671875 14.0863 0.449271 13.9964 0.269688 13.8166C0.089896 13.637 0 13.4143 0 13.1484C0 12.8828 0.089896 12.6602 0.269688 12.4806C0.449271 12.3012 0.671875 12.2116 0.9375 12.2116H20.3125C20.5781 12.2116 20.8007 12.3014 20.9803 12.4809C21.1601 12.6607 21.25 12.8835 21.25 13.1494C21.25 13.415 21.1601 13.6376 20.9803 13.8172C20.8007 13.9966 20.5781 14.0863 20.3125 14.0863H0.9375ZM0.9375 7.98063C0.671875 7.98063 0.449271 7.89073 0.269688 7.71094C0.089896 7.53115 0 7.30844 0 7.04281C0 6.77698 0.089896 6.55437 0.269688 6.375C0.449271 6.19542 0.671875 6.10563 0.9375 6.10563H20.3125C20.5781 6.10563 20.8007 6.19552 20.9803 6.37531C21.1601 6.5551 21.25 6.77781 21.25 7.04344C21.25 7.30927 21.1601 7.53188 20.9803 7.71125C20.8007 7.89083 20.5781 7.98063 20.3125 7.98063H0.9375ZM0.9375 1.87469C0.671875 1.87469 0.449271 1.7849 0.269688 1.60531C0.089896 1.42552 0 1.20271 0 0.936874C0 0.671249 0.089896 0.448645 0.269688 0.269062C0.449271 0.089687 0.671875 0 0.9375 0H20.3125C20.5781 0 20.8007 0.089896 20.9803 0.269688C21.1601 0.449271 21.25 0.671979 21.25 0.937813C21.25 1.20344 21.1601 1.42604 20.9803 1.60563C20.8007 1.785 20.5781 1.87469 20.3125 1.87469H0.9375Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .util {
        display: none;
    }
    /* header에 dark 클래스가 추가되었을때*/
    header.dark .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 15' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.9375 14.0863C0.671875 14.0863 0.449271 13.9964 0.269688 13.8166C0.089896 13.637 0 13.4143 0 13.1484C0 12.8828 0.089896 12.6602 0.269688 12.4806C0.449271 12.3012 0.671875 12.2116 0.9375 12.2116H20.3125C20.5781 12.2116 20.8007 12.3014 20.9803 12.4809C21.1601 12.6607 21.25 12.8835 21.25 13.1494C21.25 13.415 21.1601 13.6376 20.9803 13.8172C20.8007 13.9966 20.5781 14.0863 20.3125 14.0863H0.9375ZM0.9375 7.98063C0.671875 7.98063 0.449271 7.89073 0.269688 7.71094C0.089896 7.53115 0 7.30844 0 7.04281C0 6.77698 0.089896 6.55437 0.269688 6.375C0.449271 6.19542 0.671875 6.10563 0.9375 6.10563H20.3125C20.5781 6.10563 20.8007 6.19552 20.9803 6.37531C21.1601 6.5551 21.25 6.77781 21.25 7.04344C21.25 7.30927 21.1601 7.53188 20.9803 7.71125C20.8007 7.89083 20.5781 7.98063 20.3125 7.98063H0.9375ZM0.9375 1.87469C0.671875 1.87469 0.449271 1.7849 0.269688 1.60531C0.089896 1.42552 0 1.20271 0 0.936874C0 0.671249 0.089896 0.448645 0.269688 0.269062C0.449271 0.089687 0.671875 0 0.9375 0H20.3125C20.5781 0 20.8007 0.089896 20.9803 0.269688C21.1601 0.449271 21.25 0.671979 21.25 0.937813C21.25 1.20344 21.1601 1.42604 20.9803 1.60563C20.8007 1.785 20.5781 1.87469 20.3125 1.87469H0.9375Z' /%3E%3C/svg%3E%0A");
    }
}

/* 
    fullpage 안할때 header 스타일 고정 
    class="fp-scrollable fp-responsive fp-viewing-Activity" 클래스가 추가됨
*/
body.fp-scrollable header {
    background-color: var(--color-white);
    color: var(--color-tit);
}
body.fp-scrollable header .logo a {
    background-image: url(../images/common/logo.svg);
}
body.fp-scrollable header .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11525 12.2305C4.40758 12.2305 2.96142 11.6382 1.77675 10.4537C0.59225 9.26908 0 7.82292 0 6.11525C0 4.40758 0.59225 2.96142 1.77675 1.77675C2.96142 0.59225 4.40758 0 6.11525 0C7.82292 0 9.26908 0.59225 10.4537 1.77675C11.6382 2.96142 12.2305 4.40758 12.2305 6.11525C12.2305 6.82942 12.1107 7.5115 11.871 8.1615C11.6312 8.8115 11.3112 9.37683 10.9112 9.8575L16.6652 15.6115C16.8037 15.7498 16.8746 15.9238 16.8777 16.1335C16.8809 16.3432 16.8101 16.5204 16.6652 16.6653C16.5204 16.8101 16.3448 16.8825 16.1383 16.8825C15.9319 16.8825 15.7563 16.8101 15.6115 16.6653L9.8575 10.9113C9.3575 11.3241 8.7825 11.6472 8.1325 11.8805C7.4825 12.1138 6.81008 12.2305 6.11525 12.2305ZM6.11525 10.7308C7.40375 10.7308 8.49508 10.2836 9.38925 9.38925C10.2836 8.49508 10.7308 7.40375 10.7308 6.11525C10.7308 4.82675 10.2836 3.73542 9.38925 2.84125C8.49508 1.94692 7.40375 1.49975 6.11525 1.49975C4.82675 1.49975 3.73542 1.94692 2.84125 2.84125C1.94692 3.73542 1.49975 4.82675 1.49975 6.11525C1.49975 7.40375 1.94692 8.49508 2.84125 9.38925C3.73542 10.2836 4.82675 10.7308 6.11525 10.7308Z'/%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 19C8.1975 19 6.96833 18.7503 5.8125 18.251C4.65667 17.7517 3.64867 17.0718 2.7885 16.2115C1.92817 15.3513 1.24833 14.3433 0.749 13.1875C0.249667 12.0317 0 10.8025 0 9.5C0 8.18717 0.249667 6.95542 0.749 5.80475C1.24833 4.65408 1.92817 3.64867 2.7885 2.7885C3.64867 1.92817 4.65667 1.24833 5.8125 0.749001C6.96833 0.249667 8.1975 0 9.5 0C10.8128 0 12.0446 0.249667 13.1953 0.749001C14.3459 1.24833 15.3513 1.92817 16.2115 2.7885C17.0718 3.64867 17.7517 4.65408 18.251 5.80475C18.7503 6.95542 19 8.18717 19 9.5C19 10.8025 18.7503 12.0317 18.251 13.1875C17.7517 14.3433 17.0718 15.3513 16.2115 16.2115C15.3513 17.0718 14.3459 17.7517 13.1953 18.251C12.0446 18.7503 10.8128 19 9.5 19ZM9.5 17.4788C10.0103 16.8019 10.4398 16.1192 10.7885 15.4307C11.1372 14.7422 11.4212 13.9897 11.6405 13.173H7.3595C7.59167 14.0153 7.87892 14.7808 8.22125 15.4693C8.56342 16.1578 8.98967 16.8276 9.5 17.4788ZM7.5635 17.2038C7.18017 16.6538 6.83592 16.0285 6.53075 15.328C6.22558 14.6273 5.98842 13.909 5.81925 13.173H2.427C2.95517 14.2115 3.6635 15.084 4.552 15.7905C5.4405 16.4968 6.44433 16.9679 7.5635 17.2038ZM11.4365 17.2038C12.5557 16.9679 13.5595 16.4968 14.448 15.7905C15.3365 15.084 16.0448 14.2115 16.573 13.173H13.1807C12.9794 13.9153 12.7262 14.6368 12.421 15.3375C12.116 16.0382 11.7878 16.6603 11.4365 17.2038ZM1.798 11.673H5.5155C5.45267 11.3013 5.40708 10.9369 5.37875 10.5798C5.35058 10.2228 5.3365 9.86283 5.3365 9.5C5.3365 9.13717 5.35058 8.77725 5.37875 8.42025C5.40708 8.06308 5.45267 7.69867 5.5155 7.327H1.798C1.70183 7.66667 1.62817 8.01983 1.577 8.3865C1.52567 8.75317 1.5 9.12433 1.5 9.5C1.5 9.87567 1.52567 10.2468 1.577 10.6135C1.62817 10.9802 1.70183 11.3333 1.798 11.673ZM7.01525 11.673H11.9848C12.0474 11.3013 12.0929 10.9402 12.1212 10.5895C12.1494 10.2388 12.1635 9.87567 12.1635 9.5C12.1635 9.12433 12.1494 8.76117 12.1212 8.4105C12.0929 8.05983 12.0474 7.69867 11.9848 7.327H7.01525C6.95258 7.69867 6.90708 8.05983 6.87875 8.4105C6.85058 8.76117 6.8365 9.12433 6.8365 9.5C6.8365 9.87567 6.85058 10.2388 6.87875 10.5895C6.90708 10.9402 6.95258 11.3013 7.01525 11.673ZM13.4845 11.673H17.202C17.2982 11.3333 17.3718 10.9802 17.423 10.6135C17.4743 10.2468 17.5 9.87567 17.5 9.5C17.5 9.12433 17.4743 8.75317 17.423 8.3865C17.3718 8.01983 17.2982 7.66667 17.202 7.327H13.4845C13.5473 7.69867 13.5929 8.06308 13.6212 8.42025C13.6494 8.77725 13.6635 9.13717 13.6635 9.5C13.6635 9.86283 13.6494 10.2228 13.6212 10.5798C13.5929 10.9369 13.5473 11.3013 13.4845 11.673ZM13.1807 5.827H16.573C16.0385 4.77567 15.335 3.90317 14.4625 3.2095C13.59 2.516 12.5813 2.04167 11.4365 1.7865C11.8198 2.3685 12.1608 3.00508 12.4595 3.69625C12.7583 4.38725 12.9987 5.0975 13.1807 5.827ZM7.3595 5.827H11.6405C11.4083 4.991 11.1163 4.22075 10.7645 3.51625C10.4125 2.81175 9.991 2.14675 9.5 1.52125C9.009 2.14675 8.5875 2.81175 8.2355 3.51625C7.88367 4.22075 7.59167 4.991 7.3595 5.827ZM2.427 5.827H5.81925C6.00125 5.0975 6.24167 4.38725 6.5405 3.69625C6.83917 3.00508 7.18017 2.3685 7.5635 1.7865C6.41217 2.04167 5.40192 2.51767 4.53275 3.2145C3.66342 3.91117 2.9615 4.782 2.427 5.827Z' /%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 14.5423C2.4 13.6589 3.44583 12.9631 4.6375 12.4548C5.82917 11.9464 7.11667 11.6923 8.5 11.6923C9.88333 11.6923 11.1708 11.9464 12.3625 12.4548C13.5542 12.9631 14.6 13.6589 15.5 14.5423V1.80775C15.5 1.73075 15.4679 1.66025 15.4038 1.59625C15.3398 1.53208 15.2693 1.5 15.1923 1.5H1.80775C1.73075 1.5 1.66025 1.53208 1.59625 1.59625C1.53208 1.66025 1.5 1.73075 1.5 1.80775V14.5423ZM8.5 9.5385C9.4025 9.5385 10.1698 9.2225 10.802 8.5905C11.434 7.95833 11.75 7.191 11.75 6.2885C11.75 5.386 11.434 4.61867 10.802 3.9865C10.1698 3.3545 9.4025 3.0385 8.5 3.0385C7.5975 3.0385 6.83017 3.3545 6.198 3.9865C5.566 4.61867 5.25 5.386 5.25 6.2885C5.25 7.191 5.566 7.95833 6.198 8.5905C6.83017 9.2225 7.5975 9.5385 8.5 9.5385ZM1.80775 17C1.30258 17 0.875 16.825 0.525 16.475C0.175 16.125 0 15.6974 0 15.1923V1.80775C0 1.30258 0.175 0.875 0.525 0.525C0.875 0.175 1.30258 0 1.80775 0H15.1923C15.6974 0 16.125 0.175 16.475 0.525C16.825 0.875 17 1.30258 17 1.80775V15.1923C17 15.6974 16.825 16.125 16.475 16.475C16.125 16.825 15.6974 17 15.1923 17H1.80775ZM2.677 15.5H14.323C13.4743 14.7218 12.5491 14.1427 11.5473 13.7625C10.5453 13.3823 9.5295 13.1923 8.5 13.1923C7.48333 13.1923 6.46567 13.3823 5.447 13.7625C4.4285 14.1427 3.50517 14.7218 2.677 15.5ZM8.5 8.0385C8.01917 8.0385 7.60733 7.867 7.2645 7.524C6.9215 7.18117 6.75 6.76933 6.75 6.2885C6.75 5.80767 6.9215 5.39583 7.2645 5.053C7.60733 4.71 8.01917 4.5385 8.5 4.5385C8.98083 4.5385 9.39267 4.71 9.7355 5.053C10.0785 5.39583 10.25 5.80767 10.25 6.2885C10.25 6.76933 10.0785 7.18117 9.7355 7.524C9.39267 7.867 8.98083 8.0385 8.5 8.0385Z' /%3E%3C/svg%3E%0A");
}
body.fp-scrollable header .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 15' fill='%235E492A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.9375 14.0863C0.671875 14.0863 0.449271 13.9964 0.269688 13.8166C0.089896 13.637 0 13.4143 0 13.1484C0 12.8828 0.089896 12.6602 0.269688 12.4806C0.449271 12.3012 0.671875 12.2116 0.9375 12.2116H20.3125C20.5781 12.2116 20.8007 12.3014 20.9803 12.4809C21.1601 12.6607 21.25 12.8835 21.25 13.1494C21.25 13.415 21.1601 13.6376 20.9803 13.8172C20.8007 13.9966 20.5781 14.0863 20.3125 14.0863H0.9375ZM0.9375 7.98063C0.671875 7.98063 0.449271 7.89073 0.269688 7.71094C0.089896 7.53115 0 7.30844 0 7.04281C0 6.77698 0.089896 6.55437 0.269688 6.375C0.449271 6.19542 0.671875 6.10563 0.9375 6.10563H20.3125C20.5781 6.10563 20.8007 6.19552 20.9803 6.37531C21.1601 6.5551 21.25 6.77781 21.25 7.04344C21.25 7.30927 21.1601 7.53188 20.9803 7.71125C20.8007 7.89083 20.5781 7.98063 20.3125 7.98063H0.9375ZM0.9375 1.87469C0.671875 1.87469 0.449271 1.7849 0.269688 1.60531C0.089896 1.42552 0 1.20271 0 0.936874C0 0.671249 0.089896 0.448645 0.269688 0.269062C0.449271 0.089687 0.671875 0 0.9375 0H20.3125C20.5781 0 20.8007 0.089896 20.9803 0.269688C21.1601 0.449271 21.25 0.671979 21.25 0.937813C21.25 1.20344 21.1601 1.42604 20.9803 1.60563C20.8007 1.785 20.5781 1.87469 20.3125 1.87469H0.9375Z' /%3E%3C/svg%3E%0A");
}



footer {
    background: url(../images/common/footer.jpg) no-repeat center center / cover;
}
footer .f_head {
    border-top: 1px solid var(--color-black10);
    border-bottom: 1px solid var(--color-black10);
    position: relative;
}
footer .f_head::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-black10);
}
footer .f_head .wrapper {
    display: flex;
    justify-content: space-between;
}
footer .f_head .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 58px);
    padding: 44px 0 37px 0;
}
footer .f_head .item h2 {
    font-size: 2.8rem;
    color: var(--color-tit);
    margin: 0 0 7px 0;
}
footer .f_head .item a {
    display: block;
    padding: 11px 29px 9px 55px;
    border: 1px solid var(--color-basic);
    border-radius: 30px;
    position: relative;
}
footer .f_head .item a::before {
    content: "";
    position: absolute;
    left: 26px;
    top: 11px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .f_head .item.letter a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 15' fill='%23555555' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.80775 15C1.30258 15 0.875 14.825 0.525 14.475C0.175 14.125 0 13.6974 0 13.1923V1.80775C0 1.30258 0.175 0.875 0.525 0.525C0.875 0.175 1.30258 0 1.80775 0H17.1923C17.6974 0 18.125 0.175 18.475 0.525C18.825 0.875 19 1.30258 19 1.80775V13.1923C19 13.6974 18.825 14.125 18.475 14.475C18.125 14.825 17.6974 15 17.1923 15H1.80775ZM9.5 7.89225C9.58333 7.89225 9.666 7.87975 9.748 7.85475C9.83017 7.82975 9.90967 7.7955 9.9865 7.752L17.1385 3.173C17.2525 3.1025 17.3333 3.01117 17.3808 2.899C17.4283 2.78683 17.4423 2.66858 17.423 2.54425C17.4102 2.31342 17.2973 2.14192 17.0845 2.02975C16.8718 1.91758 16.6572 1.9275 16.4405 2.0595L9.5 6.5L2.5595 2.0595C2.34283 1.9275 2.12975 1.91692 1.92025 2.02775C1.71058 2.13875 1.59617 2.30767 1.577 2.5345C1.55767 2.66917 1.57175 2.79417 1.61925 2.9095C1.66675 3.025 1.7475 3.11283 1.8615 3.173L9.0135 7.752C9.09033 7.7955 9.16983 7.82975 9.252 7.85475C9.334 7.87975 9.41667 7.89225 9.5 7.89225Z' /%3E%3C/svg%3E%0A");
    background-size: 19px;
}
footer .f_head .item.support a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 18' fill='%23555555' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8048 17.0575V14.846H14.8048V17.096C14.8048 17.3412 14.7219 17.5468 14.556 17.7128C14.39 17.8786 14.1845 17.9615 13.9393 17.9615H12.7088C12.4526 17.9615 12.238 17.8748 12.0648 17.7015C11.8915 17.5283 11.8048 17.3137 11.8048 17.0575ZM5.80479 17.0575V13.9615H0.908793C0.545459 13.9615 0.280626 13.8025 0.114292 13.4845C-0.0522077 13.1665 -0.0367909 12.8569 0.160542 12.5558L3.15479 7.9615H2.96254C2.61121 7.9615 2.34771 7.80508 2.17204 7.49225C1.99654 7.17942 2.01579 6.87233 2.22979 6.571L6.55679 0.386501C6.65029 0.259667 6.76488 0.163501 6.90054 0.0980011C7.03604 0.0326678 7.17163 0 7.30729 0C7.44279 0 7.57754 0.0326678 7.71154 0.0980011C7.84554 0.163501 7.95929 0.259667 8.05279 0.386501L12.3798 6.571C12.5938 6.87233 12.613 7.17942 12.4375 7.49225C12.2619 7.80508 11.9984 7.9615 11.647 7.9615H11.4548L14.4643 12.5558C14.6618 12.8569 14.6773 13.1665 14.5108 13.4845C14.3443 13.8025 14.0795 13.9615 13.7163 13.9615H8.80479V17.096C8.80479 17.3412 8.72188 17.5468 8.55604 17.7128C8.39004 17.8786 8.18446 17.9615 7.93929 17.9615H6.70879C6.45263 17.9615 6.23796 17.8748 6.06479 17.7015C5.89146 17.5283 5.80479 17.3137 5.80479 17.0575ZM16.449 13.9615L13.093 8.846H13.3048C13.6688 8.846 13.938 8.6845 14.1123 8.3615C14.2868 8.03833 14.267 7.72617 14.0528 7.425L10.8528 2.85775L12.5568 0.386501C12.6503 0.259667 12.7649 0.163501 12.9005 0.0980011C13.036 0.0326678 13.1716 0 13.3073 0C13.4428 0 13.5775 0.0326678 13.7115 0.0980011C13.8455 0.163501 13.9593 0.259667 14.0528 0.386501L18.3798 6.571C18.5938 6.87233 18.613 7.17942 18.4375 7.49225C18.2619 7.80508 17.9984 7.9615 17.647 7.9615H17.4548L20.449 12.5558C20.6464 12.8569 20.6618 13.1665 20.4953 13.4845C20.329 13.8025 20.0641 13.9615 19.7008 13.9615H16.449Z' /%3E%3C/svg%3E%0A");
    background-size: 21px;
}
footer .f_sub {
    padding: 56px 0 120px 0;
}
footer .f_sub .wrapper {
    position: relative; /* sns 정렬 기준 */
    display: flex;
    gap: 0 59px;
}
footer .f_sub .sns {
    position: absolute;
    right: 0;
    bottom: 90px;
}
footer .f_sub .sns ul li + li {
    margin-top: 7px;
}
footer .f_sub .sns ul li a {
    display: block;
    border: 1px solid var(--color-black30);
    border-radius: 30px;
    padding: 6px 10px 6px 50px;
    font-size: 1.6rem;
    position: relative;
}
footer .f_sub .sns ul li a::before {
    content: "";
    position: absolute;
    left: 21px;
    top: 0;
    width: 24px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
}
footer .f_sub .sns ul li.blog a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0C18.6283 0 24 5.37172 24 12C24 18.6283 18.6283 24 12 24C5.37172 24 0 18.6283 0 12C0 5.37172 5.37172 0 12 0Z' fill='%234D4D4D'/%3E%3Cpath d='M6.80938 10.0079C7.95114 10.0079 8.87671 9.08232 8.87671 7.94056C8.87671 6.79881 7.95114 5.87323 6.80938 5.87323C5.66762 5.87323 4.74205 6.79881 4.74205 7.94056C4.74205 9.08232 5.66762 10.0079 6.80938 10.0079Z' fill='white'/%3E%3Cpath d='M12 5.87323C13.1423 5.87323 14.0673 6.79824 14.0673 7.94056C14.0673 9.08289 13.1423 10.0079 12 10.0079C10.8577 10.0079 9.93267 9.08289 9.93267 7.94056C9.93267 6.79824 10.8577 5.87323 12 5.87323Z' fill='white'/%3E%3Cpath d='M12 11.0638C13.1423 11.0638 14.0673 11.9889 14.0673 13.1312C14.0673 14.2735 13.1423 15.1985 12 15.1985C10.8577 15.1985 9.93267 14.2735 9.93267 13.1312C9.93267 11.9889 10.8577 11.0638 12 11.0638Z' fill='white'/%3E%3Cpath d='M12 16.2573C13.1423 16.2573 14.0673 17.1823 14.0673 18.3246C14.0673 19.4669 13.1423 20.3919 12 20.3919C10.8577 20.3919 9.93267 19.4669 9.93267 18.3246C9.93267 17.1823 10.8577 16.2573 12 16.2573Z' fill='white'/%3E%3Cpath d='M17.1934 10.0079C18.3352 10.0079 19.2607 9.08232 19.2607 7.94056C19.2607 6.79881 18.3352 5.87323 17.1934 5.87323C16.0516 5.87323 15.1261 6.79881 15.1261 7.94056C15.1261 9.08232 16.0516 10.0079 17.1934 10.0079Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.fb a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9376 20H11.5498L10.0028 19.4899L8.46688 20H5.06238C2.26781 20 0 17.7322 0 14.9376V5.06238C0 2.26781 2.26781 0 5.06238 0H14.9376C17.7322 0 20 2.26781 20 5.06238V14.9376C20 17.7322 17.7322 20 14.9376 20Z' fill='%234D4D4D'/%3E%3Cpath d='M8.45571 7.82318V9.99673H5.94947V12.8523H8.45571V19.994H11.5441V12.8523H13.8452L14.2833 9.99673H11.5441V8.14478C11.5441 7.36297 11.9267 6.60333 13.1521 6.60333H14.3997V4.17472C14.3997 4.17472 13.2686 3.98065 12.1873 3.98065C9.93062 3.98065 8.45571 5.35021 8.45571 7.82318Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.kakao a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_2413)'%3E%3Cpath d='M20 15.5505C20 18.0086 18.0087 20 15.5502 20H4.44976C1.99134 20 0 18.0086 0 15.5505V4.44948C0 1.99139 1.99134 0 4.44976 0H15.5502C18.0087 0 20 1.99139 20 4.44948V15.5505Z' fill='%234D4D4D'/%3E%3Cpath d='M10.0001 3.43C6.02654 3.43 2.80713 5.96058 2.80713 9.08473C2.80713 11.1169 4.1719 12.8999 6.22021 13.8967C6.06983 14.454 5.67566 15.9198 5.59592 16.2324C5.49795 16.6221 5.73946 16.6153 5.89667 16.5111C6.01971 16.4295 7.86751 15.179 8.66496 14.6398C9.09786 14.7032 9.54443 14.7372 10.0001 14.7372C13.9737 14.7372 17.1931 12.2066 17.1931 9.08247C17.1931 5.95832 13.9737 3.42773 10.0001 3.42773' fill='white'/%3E%3Cpath d='M4.9808 8.04278H5.72129C5.72129 8.04278 5.72585 10.0659 5.72129 10.5371C5.72129 10.8815 6.4914 10.886 6.4914 10.5416V8.06997C6.4914 8.06997 6.74202 8.06997 7.23189 8.06997C7.69213 8.06997 7.69213 7.34953 7.23189 7.34953C6.71241 7.34953 4.9808 7.33594 4.9808 7.33594C4.54562 7.33594 4.5479 8.04278 4.9808 8.04278Z' fill='%234D4D4D'/%3E%3Cmask id='mask0_26_2413' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='4' y='7' width='4' height='4'%3E%3Cpath d='M4.9808 8.04278H5.72129C5.72129 8.04278 5.72585 10.0659 5.72129 10.5371C5.72129 10.8815 6.4914 10.886 6.4914 10.5416V8.06997C6.4914 8.06997 6.74202 8.06997 7.23189 8.06997C7.69213 8.06997 7.69213 7.34953 7.23189 7.34953C6.71241 7.34953 4.9808 7.33594 4.9808 7.33594C4.54562 7.33594 4.5479 8.04278 4.9808 8.04278Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_26_2413)'%3E%3Cpath d='M7.69216 7.33594H4.54565V10.8837H7.69216V7.33594Z' fill='%234D4D4D'/%3E%3C/g%3E%3Cpath d='M8.52608 8.17426L8.93848 9.45881H8.07951L8.52608 8.17426ZM8.06356 7.57163C7.88129 7.97036 7.22282 9.85527 7.0041 10.3537C6.84688 10.7139 7.52813 11.0084 7.68534 10.6482L7.83344 10.1339H9.1891C9.1891 10.1339 9.14353 10.1543 9.32353 10.6278C9.46935 11.0107 10.1734 10.7456 10.0276 10.3628C9.82023 9.81676 9.10025 7.85029 8.9681 7.57163C8.90658 7.4425 8.69013 7.34961 8.48051 7.34961C8.30735 7.34961 8.13647 7.41304 8.06584 7.57163' fill='%234D4D4D'/%3E%3Cmask id='mask1_26_2413' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='6' y='7' width='5' height='4'%3E%3Cpath d='M8.52608 8.17426L8.93848 9.45881H8.07951L8.52608 8.17426ZM8.06356 7.57163C7.88129 7.97036 7.22282 9.85527 7.0041 10.3537C6.84688 10.7139 7.52813 11.0084 7.68534 10.6482L7.83344 10.1339H9.1891C9.1891 10.1339 9.14353 10.1543 9.32353 10.6278C9.46935 11.0107 10.1734 10.7456 10.0276 10.3628C9.82023 9.81676 9.10025 7.85029 8.9681 7.57163C8.90658 7.4425 8.69013 7.34961 8.48051 7.34961C8.30735 7.34961 8.13647 7.41304 8.06584 7.57163' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_26_2413)'%3E%3Cpath d='M10.1711 7.35156H6.84692V11.0104H10.1711V7.35156Z' fill='%234D4D4D'/%3E%3C/g%3E%3Cpath d='M10.2849 7.68912C10.2849 8.33027 10.2895 10.3942 10.2895 10.3942C10.2895 10.3942 10.2302 10.8042 10.5834 10.8042C10.9365 10.8042 11.7226 10.7997 12.0689 10.7997C12.4152 10.7997 12.4152 10.0634 12.0689 10.0634C11.7226 10.0634 11.0869 10.0589 11.0869 10.0589C11.0869 10.0589 11.0892 8.14903 11.0869 7.68686C11.0869 7.46257 10.8864 7.35156 10.6859 7.35156C10.4854 7.35156 10.2849 7.46484 10.2849 7.68912Z' fill='%234D4D4D'/%3E%3Cmask id='mask2_26_2413' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='10' y='7' width='3' height='4'%3E%3Cpath d='M10.2849 7.68912C10.2849 8.33027 10.2895 10.3942 10.2895 10.3942C10.2895 10.3942 10.2302 10.8042 10.5834 10.8042C10.9365 10.8042 11.7226 10.7997 12.0689 10.7997C12.4152 10.7997 12.4152 10.0634 12.0689 10.0634C11.7226 10.0634 11.0869 10.0589 11.0869 10.0589C11.0869 10.0589 11.0892 8.14903 11.0869 7.68686C11.0869 7.46257 10.8864 7.35156 10.6859 7.35156C10.4854 7.35156 10.2849 7.46484 10.2849 7.68912Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask2_26_2413)'%3E%3Cpath d='M12.4175 7.35156H10.2302V10.8042H12.4175V7.35156Z' fill='%234D4D4D'/%3E%3C/g%3E%3Cpath d='M12.5111 7.58784C12.5179 7.86877 12.502 10.4084 12.502 10.5964C12.502 10.8932 13.2629 10.8932 13.2629 10.5964C13.2629 10.2521 13.2629 9.59736 13.2629 9.59736L13.4862 9.41838L14.4614 10.7437C14.6596 11.002 15.2794 10.5353 15.0834 10.277L14.0467 8.91997C14.0467 8.91997 14.7508 8.16328 15.0287 7.88915C15.1905 7.7283 14.6892 7.22762 14.5275 7.38848C14.3703 7.54253 13.2675 8.63904 13.2675 8.63904C13.2675 8.63904 13.2766 7.95032 13.2675 7.56972C13.2629 7.42472 13.0852 7.35449 12.903 7.35449C12.707 7.35449 12.5088 7.43379 12.5111 7.59011' fill='%234D4D4D'/%3E%3Cmask id='mask3_26_2413' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='12' y='7' width='4' height='4'%3E%3Cpath d='M12.5111 7.58784C12.5179 7.86877 12.502 10.4084 12.502 10.5964C12.502 10.8932 13.2629 10.8932 13.2629 10.5964C13.2629 10.2521 13.2629 9.59736 13.2629 9.59736L13.4862 9.41838L14.4614 10.7437C14.6596 11.002 15.2794 10.5353 15.0834 10.277L14.0467 8.91997C14.0467 8.91997 14.7508 8.16328 15.0287 7.88915C15.1905 7.7283 14.6892 7.22762 14.5275 7.38848C14.3703 7.54253 13.2675 8.63904 13.2675 8.63904C13.2675 8.63904 13.2766 7.95032 13.2675 7.56972C13.2629 7.42472 13.0852 7.35449 12.903 7.35449C12.707 7.35449 12.5088 7.43379 12.5111 7.59011' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask3_26_2413)'%3E%3Cpath d='M15.2794 7.22559H12.502V11.0022H15.2794V7.22559Z' fill='%234D4D4D'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_2413'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.insta a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9376 0H5.06238C2.26651 0 0 2.26651 0 5.06238V14.9376C0 17.7335 2.26651 20 5.06238 20H14.9376C17.7335 20 20 17.7335 20 14.9376V5.06238C20 2.26651 17.7335 0 14.9376 0Z' fill='%234D4D4D'/%3E%3Cpath d='M13.0634 6.29883C12.6864 6.29883 12.387 6.60379 12.387 6.97529C12.387 7.34679 12.6919 7.65175 13.0634 7.65175C13.4349 7.65175 13.7399 7.34679 13.7399 6.97529C13.7399 6.60379 13.4349 6.29883 13.0634 6.29883Z' fill='white'/%3E%3Cpath d='M10.047 7.16895C8.47233 7.16895 7.19702 8.44979 7.19702 10.019C7.19702 11.5881 8.47787 12.869 10.047 12.869C11.6162 12.869 12.897 11.5881 12.897 10.019C12.897 8.44979 11.6162 7.16895 10.047 7.16895ZM10.047 11.8487C9.03789 11.8487 8.22281 11.0281 8.22281 10.0245C8.22281 9.0209 9.04344 8.20027 10.047 8.20027C11.0506 8.20027 11.8713 9.0209 11.8713 10.0245C11.8713 11.0281 11.0506 11.8487 10.047 11.8487Z' fill='white'/%3E%3Cpath d='M12.3094 15.8079H7.68508C5.76659 15.8079 4.2085 14.2499 4.2085 12.3314V7.70704C4.2085 5.78854 5.76659 4.23047 7.68508 4.23047H12.3094C14.2279 4.23047 15.786 5.78854 15.786 7.70704V12.3314C15.786 14.2499 14.2279 15.8079 12.3094 15.8079ZM7.68508 5.31724C6.36542 5.31724 5.29528 6.38738 5.29528 7.70704V12.3314C5.29528 13.651 6.36542 14.7212 7.68508 14.7212H12.3094C13.6291 14.7212 14.6992 13.651 14.6992 12.3314V7.70704C14.6992 6.38738 13.6291 5.31724 12.3094 5.31724H7.68508Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .f_sub .sns ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9376 0H5.06238C2.26651 0 0 2.26651 0 5.06238V14.9376C0 17.7335 2.26651 20 5.06238 20H14.9376C17.7335 20 20 17.7335 20 14.9376V5.06238C20 2.26651 17.7335 0 14.9376 0Z' fill='%234D4D4D'/%3E%3Cpath d='M15.2869 8.79406C15.2869 7.48549 14.2223 6.4209 12.9138 6.4209H6.84777C5.53921 6.4209 4.47461 7.48549 4.47461 8.79406V11.6163C4.47461 12.9249 5.53366 13.9895 6.84777 13.9895H12.9138C14.2223 13.9895 15.2869 12.9305 15.2869 11.6163V8.79406ZM11.7216 10.4131L9.0047 11.7605C8.89935 11.816 8.53339 11.7383 8.53339 11.6219V8.86059C8.53339 8.73861 8.89935 8.66098 9.0047 8.72198L11.6052 10.1359C11.7161 10.1969 11.827 10.3577 11.7161 10.4131H11.7216Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .f_sub .inner {
    margin: 16px 0 0 0;
    width: calc(100% - 150px);
}
footer .f_sub .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 44px;
}
footer .f_sub .f_info {
    margin: 49px 0 50px 0;
}
footer .f_sub .f_info span,
footer .f_sub .f_info address {
    display: inline-block;
    margin-right: 36px;
}
footer .f_sub .copyright {
    color: rgba(77, 77, 77, 0.8);
    font-size: 1.6rem;
}
@media screen and (max-width:1280px){
    footer .f_sub .wrapper {
        gap: 0 40px;
    }
    footer .f_sub .f_nav ul {
        display: flex;
        gap: 0 36px;
    }
}
@media screen and (max-width:1024px){
    footer .f_head .wrapper {
        margin: 0;
    }
    footer .f_head .item {
        width: 50%;
        flex-direction: column;
        text-align: center;
        padding: 22px 0 19px 0;
    }
    footer .f_head .item h2 {
        font-size: 2rem;
    }
    footer .f_head .item h2 span {
        display: none;
    }
    footer .f_head .item p {
        display: none;
    }
    footer .f_head .item a {
        display: block;
        padding: 0;
        border: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: var(--color-white);
    }
    footer .f_head .item a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    footer .f_head .item a span {
        display: none;
    }
    footer .f_head .item.letter a::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 15' fill='%23E44E29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.80775 15C1.30258 15 0.875 14.825 0.525 14.475C0.175 14.125 0 13.6974 0 13.1923V1.80775C0 1.30258 0.175 0.875 0.525 0.525C0.875 0.175 1.30258 0 1.80775 0H17.1923C17.6974 0 18.125 0.175 18.475 0.525C18.825 0.875 19 1.30258 19 1.80775V13.1923C19 13.6974 18.825 14.125 18.475 14.475C18.125 14.825 17.6974 15 17.1923 15H1.80775ZM9.5 7.89225C9.58333 7.89225 9.666 7.87975 9.748 7.85475C9.83017 7.82975 9.90967 7.7955 9.9865 7.752L17.1385 3.173C17.2525 3.1025 17.3333 3.01117 17.3808 2.899C17.4283 2.78683 17.4423 2.66858 17.423 2.54425C17.4102 2.31342 17.2973 2.14192 17.0845 2.02975C16.8718 1.91758 16.6572 1.9275 16.4405 2.0595L9.5 6.5L2.5595 2.0595C2.34283 1.9275 2.12975 1.91692 1.92025 2.02775C1.71058 2.13875 1.59617 2.30767 1.577 2.5345C1.55767 2.66917 1.57175 2.79417 1.61925 2.9095C1.66675 3.025 1.7475 3.11283 1.8615 3.173L9.0135 7.752C9.09033 7.7955 9.16983 7.82975 9.252 7.85475C9.334 7.87975 9.41667 7.89225 9.5 7.89225Z' /%3E%3C/svg%3E%0A");
    }
    footer .f_head .item.support a::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 18' fill='%23446A37' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8048 17.0575V14.846H14.8048V17.096C14.8048 17.3412 14.7219 17.5468 14.556 17.7128C14.39 17.8786 14.1845 17.9615 13.9393 17.9615H12.7088C12.4526 17.9615 12.238 17.8748 12.0648 17.7015C11.8915 17.5283 11.8048 17.3137 11.8048 17.0575ZM5.80479 17.0575V13.9615H0.908793C0.545459 13.9615 0.280626 13.8025 0.114292 13.4845C-0.0522077 13.1665 -0.0367909 12.8569 0.160542 12.5558L3.15479 7.9615H2.96254C2.61121 7.9615 2.34771 7.80508 2.17204 7.49225C1.99654 7.17942 2.01579 6.87233 2.22979 6.571L6.55679 0.386501C6.65029 0.259667 6.76488 0.163501 6.90054 0.0980011C7.03604 0.0326678 7.17163 0 7.30729 0C7.44279 0 7.57754 0.0326678 7.71154 0.0980011C7.84554 0.163501 7.95929 0.259667 8.05279 0.386501L12.3798 6.571C12.5938 6.87233 12.613 7.17942 12.4375 7.49225C12.2619 7.80508 11.9984 7.9615 11.647 7.9615H11.4548L14.4643 12.5558C14.6618 12.8569 14.6773 13.1665 14.5108 13.4845C14.3443 13.8025 14.0795 13.9615 13.7163 13.9615H8.80479V17.096C8.80479 17.3412 8.72188 17.5468 8.55604 17.7128C8.39004 17.8786 8.18446 17.9615 7.93929 17.9615H6.70879C6.45263 17.9615 6.23796 17.8748 6.06479 17.7015C5.89146 17.5283 5.80479 17.3137 5.80479 17.0575ZM16.449 13.9615L13.093 8.846H13.3048C13.6688 8.846 13.938 8.6845 14.1123 8.3615C14.2868 8.03833 14.267 7.72617 14.0528 7.425L10.8528 2.85775L12.5568 0.386501C12.6503 0.259667 12.7649 0.163501 12.9005 0.0980011C13.036 0.0326678 13.1716 0 13.3073 0C13.4428 0 13.5775 0.0326678 13.7115 0.0980011C13.8455 0.163501 13.9593 0.259667 14.0528 0.386501L18.3798 6.571C18.5938 6.87233 18.613 7.17942 18.4375 7.49225C18.2619 7.80508 17.9984 7.9615 17.647 7.9615H17.4548L20.449 12.5558C20.6464 12.8569 20.6618 13.1665 20.4953 13.4845C20.329 13.8025 20.0641 13.9615 19.7008 13.9615H16.449Z' /%3E%3C/svg%3E%0A");
    }
    footer .f_sub {
        padding: 54px 0 43px 0;
    }
    footer .f_sub .wrapper {
        display: flex;
        gap: 0 20px;
        flex-direction: column;
    }
    footer .f_sub .f_logo {
        text-align: center;
    }
    footer .f_sub .sns {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: auto;
        top: 57px;
    }
    footer .f_sub .sns ul {
        display: flex;
        gap: 0 10px;
    }
    footer .f_sub .sns ul li + li {
        margin-top: 0;
    }
    footer .f_sub .sns ul li a {
        width: 24px;
        height: 24px;
        border: 0;
        border-radius: 0;
        padding: 0;
    }
    footer .f_sub .sns ul li a::before {
        left: 0;
        background-size: 24px;
    }
    footer .f_sub .sns ul li a span {
        display: none;
    }
    footer .f_sub .inner {
        margin: 76px 0 49px 0;
        width: auto;
    }
    footer .f_sub .f_nav ul {
        display: flex;
        gap: 0 21px;
    }
    footer .f_sub .f_info {
        margin: 30px 0 41px 0;
    }
    footer .f_sub .f_info span,
    footer .f_sub .f_info address {
        margin-right: 20px;
    }
    footer .f_sub .copyright {
        color: rgba(77, 77, 77, 0.8);
        font-size: 1.4rem;
    }
}


/* footer .f_sub .sns ul {
    display: flex;
    gap: 0 10px;
}
footer .f_sub .sns ul li a {
    display: block;
    position: relative;
}
footer .f_sub .sns ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
} */




footer .fp-watermark {
    display: none;
}