header .gnb_menu {
    position: fixed;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-family: "MuseumClassic";
}
header .gnb_menu.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* PROFILE */
header .gnb_menu.pos_profile {
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    display: flex;
    gap: 0 260px;
    font-size: 22px;
}
header .gnb_menu.pos_profile {
    color: rgba(137, 113, 69, 0.3);
}
header .gnb_menu .gnb-item.profile.active {
    color: rgba(137, 113, 69, 0.7);;
}


/* PROJECT01 – 오른쪽 아래 */
header .gnb_menu.pos_project01 {
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

/* PROJECT02 – 왼쪽 아래 */
header .gnb_menu.pos_project02 {
    bottom: 40px;
    top: auto;
    left: 40px;
    right: auto;
    transform: none;
}

/* CONTACT */
header .gnb_menu.pos_end {
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    display: flex;
    gap: 0 260px;
    font-size: 22px;
}
header .gnb_menu.pos_end {
    color: var(--color-white);
}