@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

.swiper {
    width: 100vw;
    height: 100vh;
}

.swiper-slide {
    width: 100vw;
    height: 100vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}